@font-face{
    font-family: 'lxgw wenkai';
    src:url('../font/LXGWWenKaiGBScreen.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family:'lxgw wenkai',Arial, Helvetime, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height:30px;
    background-color: #f5f5f5;
}



a {
    color:black ; 
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s; 
}

a:hover {
    color: rgb(54, 103, 159); 
    border-radius: 5px; 
    padding: 5px; 
}

a:active{
    color: red;
}

hr {
    border: 0; 
    border-top: 1px solid rgb(154, 154, 154); 
    margin: 10px 10px;
}



header {
    font-size: 25px;
    background-color: #333;
    color: #fff;
    padding: 0.1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.left {
    margin-right: auto; 
    margin-left: 3rem;
}

.left h1 {
    color: white;
    font-size: 40px;
    align-self: flex-start;
}

.right{
    margin-left: auto;
    margin-right: 2rem;
}

.right a{
    color: #fff;
}

.right a:hover{
    color: rgb(54, 103, 159);
}

.right a:active{
    color: red;
}

/* 主体布局 */
.container {
    display: flex;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

/* 侧边栏 */
.sidebar {
    width: 25%;
    background-color: #fff;
    padding: 0.1rem;
    margin-right: 1rem;
    margin-left: 5rem;
    border-radius: 8px;
}

/* 表格 */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(222, 226, 230); /* Border around the table */
}

caption{
    font-size: 30px;
    text-align: center;
     color:black;
}

 td{
    border: 1px solid rgb(222, 226, 230); 
    text-align: center;
    font-size:20px ;  
     color: black;
}

/* 内容区域 */
.content {
    width: 75%;
    margin-right: 5rem;
    margin-bottom: 0;
    line-height: 40px;
}

.content article {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.content article h1 {
   color: rgb(99, 174, 82); 
   font-weight: 600;
}

.content article .message{
    font-size: 14px;
}

.content article div{
    font-size: 25px;
}


#pre1{
    background: white;
    border:0;
    height: 3rem;
}


footer{
    padding: 0.1rem;
}

footer div{
    text-align: center;
}

.dark{
    display: none;
}

.buttonDark{
    background-color:rgb(99, 174, 82) ;
    border-radius: 20%;
    border: 0;
    opacity: 0.8;
}
.cc{
   color: rgb(99, 174, 82); 
}